*, body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
 background-color: #F3F3F3;
}

ul {
  display: block;
  background: linear-gradient(to top, #000816 70%, #333333 100%);
  font-size: 17px;
  border-bottom: 2px solid #000000;
  overflow: hidden;
}

ul.social {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  font-size: 23px;
}

ul.resume {
  position: absolute;
  top: 0;
  right: 0;
  display: inline;
  font-size: 23px;
}

li {
  display: inline;
}

a {
  padding: 24px 48px;
  display: inline-block;
  text-decoration: none;
  color: #D3D3D3;
  border-right: 3px solid #000000;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Vollkorn', serif;
}

a.projlink {
  padding: 0;
  color: inherit;
  border: none;
}

a:hover {
  background-color: #B0C4DE;
  color: #000816;
  transition: 0.4s;
}

a.home {
  width: 60px;
  border-left: 3px solid #000000;

}

a.contact {
  width: 60px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

.fa {
  font-size: 24em;
}

.fa-linkedin {
  padding: 23px;
}

.fa-github {
  padding: 24px;
}

.fa-address-card-o {
  padding: 24px;
  border-left: 3px solid black;
  border-right: none;
}

h2 {
  margin: 20px;
}

h3 {
  margin: 20px;
  font-size: 24px;
}

.bio {
  display: inline-block;
  height: calc(100vh - 93px);
  min-height: calc(1080px - 220px);
  padding: 10px;
  display: inline-block;
  font-size: 30px;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Vollkorn', serif;
}

.imgbio {
  text-align: center;
  width: 400px;
  height: 450px;
}

.para {
  width: 500px;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

}

.projects {
  display: inline-block;
  text-align: left;
  max-width: 1216px;
  margin-top: 30px;
  overflow: hidden;
}

.project {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 200px;
  height: 300px;
  margin: 20px;
}

.projlink:hover {
  background-color:rgba(0.5, 0, 0, 0.4);
  opacity: 0.96;
  box-shadow: 0px 0px 5px #000000;
  transition: 0.4s;
}

.project_img {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 4px;
  opacity: inherit;
}

.proj_info {
  height: 100px;
}

.project_title {
  font-size: 22px;
  display: block;
}

.project_desc {
  font-size: 14px;
  display: block;
  color: #494949;
}

.contact {
  display: inline-block;
  padding: 20px;
}

.info {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
  width: 636px;
}

.info_p {
  text-align: center;
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Vollkorn', serif;
}

.info_pl {
  float: right;
  margin-right: 10px;
}

.info_pr {
  float: left;
  margin-left: 10px;
}

@media only screen and (max-width: 770px) {
  #button {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #nav {
    padding: 24px 36px;
  }
}
